{% extends 'defaults/base.html' %}
{% load render_video %}
{% block head_title %}Categories | {{ block.super }}{% endblock head_title %}
{% block content %}
<div class='row'>
	<div class='col-12 mx-auto'>
	<h1>{{ object.title }} | {{ object.courses_length }} Courses</h1>
	<hr/>
</div>
</div>
<div class='row'>
	{% for object in courses %}
	<div class='col-sm-4'>
		{% include 'courses/snippets/course-thumbnail-display.html' with object=object %}
	</div>
		{% empty %}
			<p class='lead'>No Item found</p>
		{% endfor %}
</div>
{% endblock content %}