{% extends 'defaults/base.html' %}
{% block head_title %}Home | Srvup{% endblock head_title %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<p class='lead'>Featured</p>
<div class='row'>
	{% for object in featured_qs %}
	<div class='col-12 col-sm-6 col-lg-4'>
		{% include 'courses/snippets/course-thumbnail-display.html' with object=object %}
	</div>
	{% endfor %}
</div>
<p class='lead'>Recommend For You</p>
<div class='row'>
	{% for object in rec_qs %}
	<div class='col-12 col-sm-6 col-lg-4'>
		{% if object.is_owner %}
		{% else %}
		{% include 'courses/snippets/course-thumbnail-display.html' with object=object %}
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endblock content %}